<div class="sidebar__widget">
Direct links to the home pages of the different projects:
<p>
<ulmargin-left: 0.75em;
text-align: left;>
    <li><a href="https://pythia.org/"><b>Pythia & Vincia</b></a></li>
    <li><a href="https://herwig.hepforge.org/"><b>Herwig</b></a></li>
    <li><a href="https://sherpa.hepforge.org/trac/wiki"><b>Sherpa</b></a></li>
    <li><a href="http://madgraph.hep.uiuc.edu/"><b>MadGraph</b></a></li>
    <li>Plugin<br>
    &nbsp;&nbsp;&nbsp;&nbsp;<a href="example.com"><b>→Ariadne/DIPSY</b></a><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<a href="example.com"><b>→HEJ</b></a></li>
    <li>CEDAR<br>
    &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://rivet.hepforge.org/"><b>→Rivet</b></a><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://professor.hepforge.org/"><b>→Professor</b></a><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://hepcedar.gitlab.io/contur-webpage/"><b>→Contur</b></a></li>
</ul>
</div>
