{{ if .Site.Menus.side }}
<div class="widget-sidemenu widget">
	<h4 class="widget__title">{{ T "sidemenu_title" }}</h4>
	<nav class="widget__content">
		<ul class="widget__list">
			{{ range .Site.Menus.side }}
			<li class="widget__item">
				<a class="widget__link" href="{{ .URL }}"><b>{{ .Name }}</b></a>
			</li>
			{{ end }}
		</ul>
	</nav>
</div>
{{ end }}