<div class="sidebar__widget">
Direct links to the home pages of all participating institutes, including teams, partners, and associates:
<p>
<ulmargin-left: 0.75em;
text-align: left;>
    <li><a href="https://www.hep.manchester.ac.uk/"><b>Manchester</b></a></li>
    <li><a href="https://www.ippp.dur.ac.uk/"><b>Durham</b></a></li>
    <li><a href="https://www.uni-goettingen.de/en/forschung/577815.html"><b>Göttingen</b></a></li>
    <li><a href="https://www.gla.ac.uk/schools/physics/research/groups/particlephysicsexperiment/"><b>Glasgow</b></a></li>
    <li><a href="https://www.itp.kit.edu/"><b>Karlsruhe</b></a></li>
    <li><a href="https://uclouvain.be/en/research-institutes/irmp/cp3"><b>Louvain</b></a></li>
    <li><a href="https://www.atp.lu.se/"><b>Lund</b></a></li>
    <li><a href="https://www.hep.ucl.ac.uk/"><b>UCL</b></a></li>
    <li><a href="https://th-dep.web.cern.ch/"><b>CERN</b></a></li>
    <li><a href="https://www.thphys.uni-heidelberg.de/?lang=e"><b>Heidelberg</b></a></li>
    <li><a href="https://www.monash.edu/science/schools/physics/research/research-areas/theoretical-computational-physics"><b>Monash</b></a></li>
    <li><a href="https://particle.univie.ac.at/"><b>Vienna</b></a></li>
    <li><a href="https://www.ifj.edu.pl/en/index.php"><b>Cracow</b></a></li>
    <li><a href="https://tu-dresden.de/"><b>Dresden</b></a></li>
    <li><a href="https://www.ed.ac.uk/"><b>Edinburgh</b></a></li>
    <li><a href="https://www.fnal.gov/"><b>Fermilab</b></a></li>
</ul>
</div>
